.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 600px;
    row-gap: 50px;
}

.header-2-faq {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: rgb(51, 51, 51);
    margin-block-start: 20px;
    margin-block-end: 0px;
}

.table {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(51, 51, 51);
    margin: 20px 0 0 0;
    border-collapse: collapse;
}

table th, td {
    border: 1px solid rgb(51, 51, 51);
    padding: 10px 20px;
    text-align: center;
}